NEXT_PUBLIC_API_URL=http://localhost:54001/api
UPLOADTHING_TOKEN=
YOOKASSA_SHOP_ID=1282692
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=http://localhost:3000/orders
# Опционально: переопределить URL БД для backend-контейнера
# DATABASE_URL=postgres://3f53bedbef4504c98cf9e2e4bf15d2c293eb59bc4991d60ddae9e108be690a3c:sk_FMaciWXKLIWpf5n8NUsRk@db.prisma.io:5432/postgres?sslmode=require